@import "_variables.less";
@import "_mixins.less";

.color-picker {
	float:left;
	position:relative;
	font-size:13px;
	font-family:Helvetica, Arial, sans-serif;
	
	.color-box {
		position:relative;
		cursor:pointer;
		display:inline-block;
		vertical-align:middle;
		width:2em;
		height:2em;
		box-shadow:0 0 0 1px fadeout(#FFF, 85%) inset, 0 0 0 1px #000;
		z-index:1;
		.transition(all, .25s);
	}
	
	.color-cue {
		margin-top:-.25em;
		border-radius:.2em;
		box-shadow:0 0 0 1px fadeout(#000, 35%);
	}
	
	ul {
		padding:.5em;
		margin:0;
		list-style:none;
		
		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}
	
	li {
		float:left;
		position:relative;
		padding:0;
		
		&:hover .color-box {
			width:2.5em;
			height:2.5em;
			margin:-.25em;
			z-index:3;
			border-radius:.25em;
			box-shadow:0 0 0 1px fadeout(#FFF, 85%) inset, 0 0 0 1px #000;
		}
		
		&.previewer {
			float:right;
		}
		
		&.highlight .color-box {
			border-color:#FFFFFF;
			box-shadow:0 0 7px #99CCFF;
		}
		
		&:nth-child(7n+1) {
			clear:left;
		}
		
		[type=radio] {
			position:absolute;
			//visibility:hidden;
			top:0;
			left:0;
			
			&:checked + .color-box {
				z-index:2;
				box-shadow:0 0 0 1px fadeout(#000, 65%) inset, 0 0 0 .25em #FFF, 0 0 .75em 0 fadeout(#000,35%);
			}
		}
		span {
			display:none;
		}
	}
	
	.color-chips {
		display:none;
		opacity:0;
		position:relative;
		top:100%;
		left:0;
		background:@base;
		border:2px solid lighten(@base, 65%);
		box-shadow:0 0 0 1px fadeout(#000, 65%);
		border-radius:.5em;
		z-index:2;
		.transition(opacity, .25s, .3s);
		
		.color-box:after {
			content:attr(data-title);
			position:absolute;
			top:65%;
			left:65%;
			font-size:.85em;
			white-space:nowrap;
			line-height:1;
			border-radius:.3em;
			display:none;
			background:fadeout(#000,35%);
			padding:.2em .5em;
			color:#FFF;
		}
		.color-box:hover:after {
			display:block;
		}
	}
	
	.toggle-picker {
		position:absolute;
		visibility:hidden;
		top:0;
		left:0;
	}
	.toggle-picker:checked ~ .color-chips {
		display:block;
		opacity:1;
	}
	
	.close-picker {
		position:absolute;
		top:-1em;
		right:-1em;
		background:fadeout(#000,15%);
		box-shadow:0 0 0 2px #FFF, 0 0 1em 0 fadeout(#000,50%);
		border-radius:1.5em;
		color:#FFF;
		line-height:1.5em;
		font-size:12px;
		z-index:5;
		width:1.5em;
		height:1.5em;
		text-align:center;
	}
	
	.divider {
		border-top:1px solid darken(@base, 25%);
		border-bottom:1px solid lighten(@base, 15%);
		padding:.5em;
		background:darken(@base, 10%);
		border-radius:0 0 .3em .3em;
		font-weight:300;
		
		.color-cue-name {
			padding:0 .5em 0 0;
			line-height:2;
			color:fadeout(#FFF, 35%);
		}
	}
	
	.divider-heading {
		text-transform:uppercase;
		font-size:.8em;
		color:#969699;
	}
	
	input.picker-preview {
		padding:.35em .5em;
		margin:.2em;
		width:7em;
		border:0;
		text-shadow:0 0 1px rgba(0,0,0,.65);
		box-shadow:none;
		outline:none;
		.transition(all, .3s);
		
		&:focus,
		&:active {
			box-shadow:0 0 0 1px #69C, 0 0 .5em 0 #69C;
		}
	}
}